@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
  /* background: linear-gradient(135deg, #0a192f, #1e3a8a); */
  /* background: linear-gradient(135deg, #0a192f, #4b0082, #00d4ff); */
  /* background: linear-gradient(135deg, #0a0f1f, #1c1f26, #2c3e50); */
  /* background: linear-gradient(135deg, #0a192f, #4a69bd, #a8dadc); */
  background: linear-gradient(135deg, #0a0f1f, #4b0082, #00eaff);
  /* background: linear-gradient(135deg, #0a192f, #3b0086, #ff00ff); */


  min-height: 100vh;
  margin: 0;
  padding: 0;
}
